<h1>Your order summary</h1>
{{> addons noDeleteButton=true}}
<a href="/order/thanks" class="button button-big"><img src="/assets/images/shopping-cart" alt="">Buy Now !</a>

{{> cookie-preview}}
{{> go-home }}
