{{#with cookie}}
  <div class="cookie-preview"
       style="background: {{#each
         addons}} url('/assets/images/{{this}}.png'), {{/each}} url('/assets/images/empty-{{@root.cookie.base}}.png')"></div>
{{/with}}
