<h1>Configure your cookie</h1>
<h2>Select cookie base</h2>

{{> base-selector }}
<br>
{{#each allAddons}}
  <a class="button {{#if (isInArray @root.cookie.addons this.[0])}}button-disabled{{/if}}"
     href="/configurator/add-addon/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}}
    PLN</a>
{{/each}}

{{#if cookie.base }}
  {{> cookie-preview }}
  {{> addons }}
  <a href="/order/summary" class="button button-big"><img src="/assets/images/shopping-cart" alt="">Order now !</a>
{{else}}
  <p><strong>Please select base of your cookie to see it's preview and price summary</strong></p>
  <p>{{> base-selector}}</p>
{{/if}}

